section{
    animation: fadeInRight 1s ease;
}

.logo img{
    max-width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
  }
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display:flex;
    width: 600px;
    margin-right: 60px;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;

}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}

.product-imgs{
    display:flex;
    align-items:center;
    transition: all .40s;
    height:700px;
}
.product-imgs:hover{
    transform: scale(1.1);
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    margin-top: 100px;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
}
.product-price span{
    font-weight: 300;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    text-align: justify;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    list-style: disc;
    font-weight: 500;
    opacity: 0.9;
    margin-left: -20px;
}
.product-detail ul li span{
    font-weight: 400;
}

.product-size {
    display:grid;
    grid-template-columns: repeat(3,0fr);
    grid-gap: 2rem;
    margin-bottom:5rem;
}

.product-size-button {
    background:transparent;
    width:7rem;
    height:3rem;
    padding: 9px 17px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.product-size-button:hover{
    font-size: 20px;
    border:1px solid transparent;
    cursor:pointer;
    background-color: #474cda;
transform: scale(1.1);
}
.product-buy {
    display:grid;
    grid-template-columns: repeat(3,0fr);
    grid-gap: 2rem;
    margin-bottom:5rem;
}

.product-buy-items{
    background-color: #130a7d;
    color:white;
    font-size:16.5px;
    width:10rem;
    height:3rem;
    transition: all .200s ease-in-out;
}

.product-buy-items-qty{
    background:transparent;
    width:10rem;
    height:2.7rem;
    transition: all .200s ease-in-out;
    text-align:center;
    font-size:1.5em;
    border:1px solid;
}

.more-product h1{
    text-align: center;
    margin-bottom:80px;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        margin-right:10px;
    }
    .product-content{
        padding-top: 0;
    }

    .product-size {
        display:grid;
        grid-template-columns: repeat(4,0fr);
        grid-gap: 2rem;
    }
}



