section{
    animation: fadeInRight 1s ease;
}

.logo img{
    max-width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
  }
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display:flex;
    width: 600px;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}

.product-imgs{
    display:flex;
    align-items:center;

    height:700px;
}

.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
}
.product-price span{
    font-weight: 300;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}

.product-size {
    display:grid;
    grid-template-columns: repeat(3,0fr);
    grid-gap: 2rem;
    margin-bottom:5rem;
}

.product-size-button {
    background:transparent;
    width:10rem;
    height:3rem;
    transition: all .200s ease-in-out;
}

.product-size-button:hover{
    background:rgb(199, 201, 200);
    font-size: 20px;
    scale:105%;
    border:1px solid transparent;
    cursor:pointer;
}

// bikin buttonnya active


.product-buy {
    display:grid;
    grid-template-columns: repeat(3,0fr);
    grid-gap: 2rem;
    margin-bottom:5rem;
}

.product-buy-items{
    background:#191D88;
    color:white;
    font-size:16.5px;
    width:10rem;
    height:3rem;
    transition: all .200s ease-in-out;
}

.product-buy-items-qty{
    background:transparent;
    width:10rem;
    height:2.7rem;
    transition: all .200s ease-in-out;
    text-align:center;
    font-size:1.5em;
}

.more-product h1{
    text-align: center;
    margin-bottom:80px;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        margin-right:10px;
    }
    .product-content{
        padding-top: 0;
    }

    .product-size {
        display:grid;
        grid-template-columns: repeat(4,0fr);
        grid-gap: 2rem;
    }
}



