/* Checkout */
.cart-page{
    margin: 80px auto;
  }
  
  .cart-info {
    display:flex;
    flex-wrap:wrap;
    margin-top: 40px;
  }

  .cart-info img{
    transition: all .40s;
  }

  .cart-info img:hover{
    transform: scale(1.1);
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }


  .cart-description{
    margin-left: 30px;
  }

  .cart-description p{
    font-weight: 500;
  }
  
  table{
    width:100%;
    border-collapse:collapse;

  }
  
  th {
    text-align: left;
    padding:5px;
    font-weight:normal;
  }
  
  td {
    padding: 10px 5px;
  }
  
  td input{
    width: 40px;
    height:30px;
    padding:5px;
  }
  
  td a {
    color:red;
    font-size:12px;
    text-decoration:none;
  }
  
  td img {
    width: 175px; 
    height: 100px;
    margin-right:10px;
  }
  
  .title-text th{
    font-weight: 500;
    font-size: 20px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table{
    border-top: 3px solid;
    width: 100%;
    max-width:420px;

  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }

