html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
  margin: 0;

}
.logo img{
  max-width: 100px;
  height: auto;
  text-align: center;
  padding: 5px;
}

header{
    position : fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #191D88;
    text-align: center;

}

nav{
    background-color: #191D88;
    color: white;
    text-align: center;
    padding: 10px;

  }
  .nav-menu{
    display: flex;
    justify-content: center;
  }
  .nav-menu a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 300;
    font-size: large;
    padding: 10px 20px;
    transition: all .400s ease;
  }

  .nav-menu a:hover {
    text-decoration: underline;
  }

nav-icon{
    color: white;
    font-size: 25px;
    font-weight: 400;
    transform: all .42s ease;
    position: absolute;
    right: 0;
  }

section{
    padding: 5% 10%;
    animation: fadeInUp 2s ease;
  }
  .main-home{
    width: 100%;
    height: 114vh;
    background-image: url(../gambar/homeBanner.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-text h1{
    font-size: 70px;
    line-height: 1.1;
    padding-right: 50px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .main-btn{
    display: inline-block;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    padding: 12px 25px;
    transition: all.42s ease;
  }
  .main-btn:hover{
    background-color: black;
    color: white;
  }
  
  /*Product*/
  .maintext-product{
    text-align: center;
    font-size: 28px;
    margin-bottom: 80px;
    font-weight: 400;

  }
  .product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
  }
  .row{
    position: relative;
    transition: all .40s;
    margin: 10px;
  }
  .row img{
    width: 100%;
    height: auto;
    transition: all .40s;
  }
  .row img:hover{
    transform: scale(1.1);
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .product-name h4{
    font-weight: 400;
    margin-left: 30px;
    margin-top: -5px;
  }
  .product-name h5{
    font-weight: 400;
    margin-left: 30px;
    margin-top: -5px;
    color: #9E9FA5;
  }
  .more-btn{
    display: inline-block;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid black;
    padding: 10px 20px;
    transition: all.42s ease;
  }

  .more-btn:hover{
    background-color: black;
    color: white;
  }


  .container{
    margin-top:20px;
    color: #191D88;
  }

  .product-container {
    display:flex;
    justify-content:space-evenly;
    gap:10rem;
   
  }

  /* Styling Dropdown */
  select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  





footer{
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: large;
  bottom:0;
  left:0;
}



/* Contact */
.contact-us{
  margin-top: 20px;

}
.container-con{
  width:100%;
  flex-direction: column;
  margin:0px;
  padding:0px 40px;
}
.contact-content p{
  font-size: 18px;
  margin-bottom: 20px;    
}

.cta-button{
display: inline-block;
background-color: #191D88;
color: #fff;
padding: 9px 19px;
border-radius: 5px;
font-size: 20px;
border: none;
cursor: pointer;
transition: 0.3s ease;
box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.cta-button-cancel{
display: inline-block;
background-color: #130a7d;
color: #fff;
padding: 9px 17px;
border-radius: 5px;
font-size: 20px;
border: none;
cursor: pointer;
transition: 0.3s ease;
box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
button:hover{
background-color: #474cda;
transform: scale(1.1);
}
.contact-content{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
.container-con .contact-content{
flex-basis: 45%;
}
input{
width: 100%;
border: none;
border-bottom: 1px solid #ccc;
outline: none;
padding-bottom: 5px;
}
textarea{
width: 100%;
border: 1px solid #ccc;
outline: none;
padding: 10px;
box-sizing: border-box;
}
span{
  width: 100%;
outline: none;
margin: 8px;
}
label{
margin-bottom: 6px;
display: block;
color: #191D88;
}
tr td:first-child{
padding-right: 20px;
}
tr td{
padding-top: 5px;
}





/*responsive CSS */
@media(max-width:890px){
    header{
      padding: 20px 3%;
      transition: .4s;
    }

    .container{
      margin-top:120px;
    }

    .container-checkout{
      margin-top:120px;
    }

    .contact-us{
      margin-top:120px;
    }
}
@media(max-width:630px){
    .main-text h1{
      padding: 50px;
      transition: .4s;
    }

    .main-btn{
      padding: 10px 20px;
      transition: .4s;
    }



}


@keyframes fadeInRight {
  0%{
      opacity: 0;
      transform: translateX(-50px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  0%{
      opacity: 0;
      transform: translateY(50px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

@media screen and (max-width: 768px){
  .heading h1{
      font-size: 45px;
      margin-top: 30px;

  }

  .container-checkout{
    margin-top:160px;
  }


}
.heading h3{
  color: #191D88;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;

}
