*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.about{
    background-color: #f8f8f8;
    overflow: hidden;
}
.heading h1{
    color: #191D88;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.about-content{
    flex:1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.about-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.about-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.about-content button{
    display: inline-block;
    background-color: #191D88;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.about-content button:hover{
    background-color: #474cda;
    transform: scale(1.1);

}
.about-image{
    flex:1;
    width: 300px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


@media screen and (max-width: 768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;

    }
    .about{
        margin: 0px;
    }
    .container{
        width:100%;
        flex-direction: column;
        margin:0px;
        padding:0px 40px;
    }
    .about-content{
        width: 100%;
        margin: 35px 0px;
    }
    .about-content h2{
        font-size: 30px;
    }
    .about-content p{
        font-size: 18px;
        margin-bottom: 20px;    
    }
    .about-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
    .about-image{
        width: 100%;

    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.orang-image{
    flex:1;
    width: 600px;
    margin: 100px 100px;
    animation: fadeInRight 2s ease;
}

.orang-container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: -55px;
    margin-bottom: -50px;
}
html {
    scroll-behavior: smooth;

}